<html>
    <head>
        <style>
            .red {
                color: blue;
            }
        </style>
    </head>
   <body>
    <% if (user) { %>
        <%= cls %>
        <h2 class="<%= cls %>"><%= user.name %></h2>
      <% } %>
      Hello <%= people.join(", "); %>
   </body>
</html>